{% extends 'directions/main.html'%}


{% block content %}
<div class="row mb-2">
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h2 class="h5 pt pb-2 mb-4 border-bottom"><span class="title-h">Accueil</span>/</h2>
            <br>
            <div class="row mb-2">
               <div class="row">
                   <div class="col">
                       <div class="col-md">
                           <div class="card text-center text-white mb-3" style="background: rgb(47, 190, 142);">
                               <div class="card-header">
                                   <h5 class="card-title">TOTAL DE PERSONNEL</h5>
                               </div>
                               <div class="card-body">
                                    <h5 class="card-title">{{ totalPers }}</h5>
                                </div>
                           </div>
                       </div>
                   </div>
                   <div class="col">
                    <div class="col-md">
                        <div class="card text-center text-white mb-3" style="background: rgb(98, 129, 155);">
                            <div class="card-header">
                                <h5 class="card-title">TOTAL DE POST</h5>
                            </div>
                            <div class="card-body">
                                 <h5 class="card-title">{{ totalPost }}</h5>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md">
                        <div class="card text-center text-white mb-3" style="background: rgb(27, 56, 59);">
                            <div class="card-header">
                                <h5 class="card-title">TOTAL DE SERVICE</h5>
                            </div>
                            <div class="card-body">
                                 <h5 class="card-title">{{ totalServ }}</h5>
                             </div>
                        </div>
                    </div>
                </div>
               </div>
               <div class="row">
                   <div class="col-md-6"></div>
                   <div class="col-md-6"></div>
               </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}