{% extends 'directions/main.html'%}


{% block content %}
<div class="row mb-2">
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h2 class="h5 pt pb-2 mb-4 border-bottom"><span class="title-h"><i class="bi bi-tag"></i> POST</span>/ ajout d'un Post</h2>
            <br>
            <div class="row mb-2">
                <div class="col-md-12">
                    {% if submitted %}
                    <div class="alert alert-success alert-dismissible fade show p-2" role="alert">
                        Enregistrement reussir avec Sucess
                        <button type="button" class="btn-close pb-1" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <form action="" method="post">
                        <br>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form.num_post }}
                            </div>
                                <div class="col-md-4">
                                    {{ form.nom_post }}                                
                                </div>
                                <div class="col-md-1">
                                    <b>Service: </b> 
                                 </div>
                                <div class="col-md-3">
                                    {{ form.type_service }}
                                </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-10">
                            </div>                         
                            <div class="col-md-2">
                                <button class="btn btn-success" type="submit">Enregistrer</button>                            
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}